## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [21]:
#my_randoms = random.sample(range(100), 10)
# Your code here
#sample_list_1 = [i for i in range(81)]
sample_list_1 = random.sample(range(101),80)
print(sample_list_1)

[50, 23, 64, 47, 6, 53, 7, 42, 85, 84, 65, 33, 58, 81, 79, 32, 43, 28, 1, 25, 80, 38, 95, 73, 59, 22, 90, 19, 86, 0, 30, 51, 29, 18, 12, 94, 13, 96, 60, 8, 4, 69, 45, 35, 100, 36, 89, 88, 20, 57, 56, 91, 98, 17, 39, 24, 82, 75, 77, 10, 92, 99, 31, 48, 37, 67, 34, 72, 68, 76, 78, 61, 9, 2, 93, 11, 83, 16, 66, 52]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [22]:
# Your code here
print(len(sample_list_1))

set1 = set(sample_list_1)
print(set1)

if len(set1) == 80:
    print(' \n Yes, the length of the set is still 80.')

80
{0, 1, 2, 4, 6, 7, 8, 9, 10, 11, 12, 13, 16, 17, 18, 19, 20, 22, 23, 24, 25, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 42, 43, 45, 47, 48, 50, 51, 52, 53, 56, 57, 58, 59, 60, 61, 64, 65, 66, 67, 68, 69, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100}

 Yes, the length of the set is still 80.

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [23]:
# Your code here

sample_list_2 = []

for i in range(80):
        n = random.randint(0,100) #generates a random integer between 0 and 100
        sample_list_2.append(n)

'''
while len(sample_list_2)<80:
    sample_list_2.append(random.sample(range(0,101),80))
    if len(sample_list_2)>=80:
        break
        
        
randomlist = []
for i in range(0,5):
n = random.randint(1,30)
randomlist.append(n)
print(randomlist)

'''
print(sample_list_2)

print(len(sample_list_2))

[76, 100, 2, 59, 63, 11, 83, 37, 48, 30, 94, 15, 77, 43, 72, 32, 14, 6, 50, 63, 73, 20, 67, 94, 6, 50, 0, 91, 1, 17, 31, 13, 85, 59, 76, 57, 78, 24, 57, 81, 28, 54, 52, 15, 80, 88, 35, 92, 67, 21, 55, 48, 37, 83, 32, 78, 40, 64, 92, 19, 68, 70, 22, 74, 42, 96, 98, 80, 91, 39, 24, 24, 37, 90, 53, 97, 92, 32, 58, 85]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [24]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

if len(set2)!=80:
    print("Set2 is not equal to 80")

57
Set2 is not equal to 80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [25]:
# Your code here
set3 = set1 - set2
print(set3)

{4, 7, 8, 9, 10, 12, 16, 18, 23, 25, 29, 33, 34, 36, 38, 45, 47, 51, 56, 60, 61, 65, 66, 69, 75, 79, 82, 84, 86, 89, 93, 95, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [26]:
# Your code here
set4 = set2 - set1
print(set4)

{97, 70, 40, 74, 14, 15, 21, 54, 55, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [27]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

set5 = set1&set2
print(set5)

{0, 1, 2, 6, 11, 13, 17, 19, 20, 22, 24, 28, 30, 31, 32, 35, 37, 39, 42, 43, 48, 50, 52, 53, 57, 58, 59, 64, 67, 68, 72, 73, 76, 77, 78, 80, 81, 83, 85, 88, 90, 91, 92, 94, 96, 98, 100}
{0, 1, 2, 6, 11, 13, 17, 19, 20, 22, 24, 28, 30, 31, 32, 35, 37, 39, 42, 43, 48, 50, 52, 53, 57, 58, 59, 64, 67, 68, 72, 73, 76, 77, 78, 80, 81, 83, 85, 88, 90, 91, 92, 94, 96, 98, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [28]:
# Your code here
a = len(set1) #unique random values
b = len(set2) #random values
c = len(set3) #only in set1
d = len(set4) #only in set2
e = len(set5) #present in both sets
#a>b>e>c>d:

print("a=",a,"b=",b,"c=",c,"d=",d,"e=",e)

#therefore


if e==a-c and d==b-e:
    print("We have found a relationship between the sets \ne=a-c and b=b-e")

a= 80 b= 57 c= 33 d= 10 e= 47
We have found a relationship between the sets
e=a-c and b=b-e

#### Create an empty set called `set6`.

In [44]:
# Your code here
set6 = set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [30]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 1, 2, 4, 6, 7, 8, 9, 10, 11, 12, 13, 16, 17, 18, 19, 20, 22, 23, 24, 25, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 42, 43, 45, 47, 48, 50, 51, 52, 53, 56, 57, 58, 59, 60, 61, 64, 65, 66, 67, 68, 69, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [42]:
if set1!=set6:
    print("nope")
else:
    print("yup")
    
# OR

print(set1 == set6)

nope
False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [32]:
# does set1, have set2 inside ?
print(set2.issubset(set1))

print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [45]:
#print(set3,"\n")
#print(set4,"\n")
#print(set5,"\n")

set3.union(set4,set5)
print(set3,"\n")

set1.union(set2)
print(set1,"\n")

if set3 == set1:
    print("yup")
else:
    print("nope, they ain't equal")

{4, 7, 8, 9, 10, 12, 16, 18, 23, 25, 29, 33, 34, 36, 38, 45, 47, 51, 56, 60, 61, 65, 66, 69, 75, 79, 82, 84, 86, 89, 93, 95, 99}

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 28, 30, 32, 33, 34, 35, 36, 37, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 66, 68, 69, 71, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 92, 93, 94, 98, 99, 100}

nope, they ain't equal

#### Using the `pop` method, remove the first element from `set1`.

In [46]:
# methode 1
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 28, 30, 32, 33, 34, 35, 36, 37, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 66, 68, 69, 71, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 92, 93, 94, 98, 99, 100} 

print(set1,"\n")
print(len(set1),"\n")

p = list(set1)
#print(p,"\n")
p.pop(0)
set1 = set(p)

print(set1,"\n")
print(len(set1),"\n")

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 28, 30, 32, 33, 34, 35, 36, 37, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 66, 68, 69, 71, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 92, 93, 94, 98, 99, 100}

80

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 28, 30, 32, 33, 34, 35, 36, 37, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 66, 68, 69, 71, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 92, 93, 94, 98, 99, 100}

79

In [48]:
#methode 2
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 28, 30, 32, 33, 34, 35, 36, 37, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 66, 68, 69, 71, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 92, 93, 94, 98, 99, 100} 

for i in range(len(set1)):
    if i == 0:
        set1.pop()
        i += 1
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 28, 30, 32, 33, 34, 35, 36, 37, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 66, 68, 69, 71, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 92, 93, 94, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [40]:
remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

r = set(remove)

print(set1-r)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 16, 17, 18, 20, 22, 23, 25, 26, 28, 30, 32, 33, 34, 35, 36, 37, 40, 42, 43, 44, 46, 47, 48, 50, 53, 54, 55, 56, 57, 58, 60, 63, 64, 66, 68, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 92, 93, 94, 98, 100}